



.tituloEuro {
    text-align: center;
    vertical-align: baseline;
    font-family: Arial,sans-serif;
    color: white;
    background-color: #022C64;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Arial,sans-serif;
    font-size: 15px;
    padding: 2px;
    width: 100%;
}
.tituloPrimitiva {
    text-align: center;
    vertical-align: baseline;
    font-family: Arial,sans-serif;
    color: white;
    background-color: #378b4c;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Arial,sans-serif;
    font-size: 15px;
    padding: 2px;
    width: 100%;
}

.tituloNacional {
    text-align: center;
    vertical-align: baseline;
    font-family: Arial,sans-serif;
    color: white;
    background-color: #007ac0;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Arial,sans-serif;
    font-size: 15px;
    padding: 2px;
}
.fila-color {
    background-color: rgba(243, 31, 45, 0.205) ;
    
}
.fila-color1 {
    background-color: rgba(68, 158, 172, 0.281) ;
    
}
.fila-color2 {
    background-color: rgba(251, 185, 52, 0.219) ;
    
}
.grid-block {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

#f {
    margin-top: 50px;
    width: 90%;
    display: flex;
  

   
}

.backform {
  
    width: 50%;
    min-width: 500px;
    padding-top: 0px;
    padding-bottom: 10px;
   height: auto;
}
.backforml {
    
    width: 50%;
    min-width: 500px;
    padding-top: 0px;
    padding-bottom: 10px;
   height: auto;
}
.backoculto{
    text-align: center;
    background-color: tomato;
    width: 100%;
    height: 40%;
}

.cards{
    width: 100%;
  margin: 10px;
  box-sizing: border-box;

}
.cardsl{
    width: 100%;
  margin: 10px;
  box-sizing: border-box;

}

.buttonComprobar{
    flex: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    
}



.btnComprobar {
    background-color: #ed8d0b;
    border: 0px solid #ed8d0b;
    color: white;
    height: 40px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    
}


.btnPremios {
    background-color: #007ac0;
    border: 0px solid #007ac0;
    color: white;
    height: 30px;
    font-family: Arial,sans-serif;
   
    margin: 15px;
    font-size: 12px;
}

.campoObligatorio{
    font-size: 12px;
    color: darkgray;
    margin-top: 16px;
}
.fechaInfo{
    background-color: #007ac0;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    padding: 2px;
}

.inputC {
    font-size: 12px;
    font-family: Arial,sans-serif;
    border-color: 1px #007ac0;
    
}

.a {
    color: #007ac0;
    float: left;
width: 30%;
text-align: center;
font-weight: 600;
}
.b{
    color: #007ac0;
  float: right;
  width: 30%;
  text-align: center;
  font-weight: 600;
}

.ar {
    color: #007ac0;
    float: left;
width: 15%;
text-align: center;
font-weight: bold;

}

.premios{
    display: flex;
    
    justify-content: center;
}
.premiosr{
    display: flex;
    margin: 25px auto 25px auto;
    justify-content: center;
    
}
.br{
    color: #007ac0;
  float: right;
  width: 15%;
  text-align: center;
  font-weight: bold;
}

.brs{
    color: #007ac0;
  float: right;
  width: 15%;
  text-align: center;
  font-weight: bold;
}
.estrella{
    margin-left: 30%;
}

.pre {
    font-size: 25px;
}
.s1{
    background-color: #022C64;
    height: 45px;
    width: 45px;
    border-radius: 50%;
   margin: 0px 0px 5px 5px;
    font-size: 20px;
    color: white;
    padding: 5px;
}

.r{
    text-align: center;
    margin: auto;
    margin-right: 14px;
}

.c1{
    background-color: #022C64;
    height: 45px;
    width: 45px;
    border-radius: 50%;
   margin: 0px 0px 5px 5px;
    font-size: 20px;
    color: white;
    padding: 5px;
}


.cardl, .cardr{
    height: 50%;
}



#contenido {
    background-color: #E9F2FE;
    height: 40%;
    margin-top: auto;
    
}

.resultcard {
    border: 2px solid #007ac0;
    font-size: 14px;
    color: #007ac0;
    font-family:  Arial,sans-serif;
    text-align: center;
    height: 40%;
    background-color: white;
}

.tituloresult {
    background-color: #E9F2FE;
    
}

.mensajeresult {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.millon{
background-color: white;
border-radius: 1px solid #007ac0;
margin: 20px 0px 20px 0px;
font-family: arial, sans-serif;
font-weight: 800;
color: #022C64;
padding: 5px;
}


